<div class="tableContainer">
    <h2 class="students">New Student</h2>

    <form #formData='ngForm' (ngSubmit)="createStudent()">
      <input type="text" name="name" class="form-control txt" id="name" placeholder = "Full Name" [(ngModel)]="name" required>
      <input type="number" name="year" class="form-control txt" id="year" placeholder = "Graduation Year" [(ngModel)]="year" required>
      <button type="submit" class="btn btn-success basic-btn">Create Student</button>
      <button type="button" (click)="goBack()" class="btn btn-success basic-btn back">Go Back</button>
    </form>
</div>