<div class="tableContainer">
  <h2 class="students">Students</h2>
  <ul>
    <li class="studentLi" *ngFor="let student of (students$ | async)" [class.done]="student.done">
        <div class="student">
          <h2>{{ student.name }}</h2>
          <h4>{{ student.year }}</h4>
          <!-- <button type="button" (click)="deleteStudent()" class="delete btn btn-default btn-lg">
              <span class="glyphicon glyphicon-remove"></span>
          </button> -->
        </div>
    </li>
  </ul>
  <button type="button" class="btn basic-btn addStudent" (click)="createStudent()">Add Student</button>
</div>
<button type="button" (click)="logOut()" class="logout btn btn-default btn-lg">
    <span class="glyphicon glyphicon-log-out"></span> 
</button>
